.footer{
    width: 100vw;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #EEEFFB;
    padding: 50px;
}
.cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.logo{
font-family: 'Josefin Sans';
font-size: 38px;
line-height: 45px;
color: #000000;
}

.search{
    display: flex;
    width: 377px;
    height: 44px;
    margin-top: 20px;

}
.input{
    width: 250px;
    height: 36px;
    border: 2px solid rgba(128, 128, 128,0.6);
    padding-left: 10px;
    font-size: 16px;
    outline: none;
}
.signup{
    width:120px ;
    height: 36px;
    background-color: #FB2E86;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact p{
    color: #8A8FB9;
}
.cont2,.cont3{
    gap: 15px;
}
.heading{
    font-family: 'Josefin Sans';
    font-size: 24px;
    line-height: 45px;
    color: #000000;
    /* text-align: left; */
}
.links{
    /* color: #8A8FB9; */
}
@media screen and (max-width: 941px){
    .footer{
        gap:70px;
    }
    .input{
        width: 200px;
    }
    .signup{
        width: 90px;
    }
    
}