.ul{
    margin-top: 50px;
    list-style: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #151875;
}
.li{
    position: relative;
}
.li::before{
    transition: all 1s ease;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color:#FB2E86 ;
}
.li:hover:before{
    width: 100%;
}
.li:hover{
    color:#FB2E86;
}

@media screen and (max-width:570px) {
    .ul{
        font-size: 12px;
    }
}